{% extends 'main/base.html'%}
{% load static %}
{% block title %}Новая вакансия{% endblock %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_mp/style.css' %} "> {% endblock %}
{% block pages %}
{% if request.user.is_authenticated %}
{% if current_user.type_of_user == 'EMP' %}
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="#" >Ваши вакансии</a> </li>
<li><a href="#" >Отклики соискателей</a> </li>
<li><a href="/employer/{{current_user.id}}" >Профиль</a> </li>
{% endif %}
{% else %}
<li><a href="/register_apl" >Соискателям</a> </li>
<li><a href="/register_emp">Работодателям</a></li>
{% endif %}
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
   <ul>
        {% for f in form %}
        <li type="none"> {{ f.label }}: {{ f }} </li>
        {% endfor %}
        <li type="none"> <button type="submit">Разместить</button> </li>
    </ul>
</form>
{% endblock %}