{% extends 'main/base.html'%}
{% load static %}
{% block title %}Сделки{% endblock %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_deals/style.css' %} "> {% endblock %}
{% block pages %}
{% if request.user.is_authenticated %}
{% if current_user.type_of_user == 'MDR' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="/employers">Работодатели</a></li>
<li><a href="/applicants">Соискатели</a> </li>
<li><a style="opacity: 1; text-decoration: underline;" href="/deals">Сделки</a></li>
{% elif current_user.type_of_user == 'APL' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="#" >Ваши резюме</a> </li>
<li><a href="#" >Отклики работодателей</a> </li>
<li><a href="#" >Профиль</a> </li>
{% elif current_user.type_of_user == 'EMP' %}
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="#" >Ваши вакансии</a> </li>
<li><a href="#" >Отклики соискателей</a> </li>
<li><a href="#" >Профиль</a> </li>
{% endif %}
{% else %}
<li><a href="/register_apl" >Соискателям</a> </li>
<li><a href="/register_emp">Работодателям</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="searchAndFilter">
    <ul class="SaF_Content">
        <form action="/deals" method="get" >
            <li type="none">Компания:</li>
            <li type="none"><select name="employer" class="SelectBar">
                <option value="">название компании</option>
                {% for emp in employers %}
                <option value="{{emp.company_name}}"> {{emp.company_name}}</option>
                {% endfor %}
            </select></li>
            <li type="none">Вакансия:
            <select name="vacancy" class="SelectBar">
                <option value="">название вакансии</option>
                {% for v in vacancies %}
                <option value="{{v.profession_id.profession_name}}"> {{v.profession_id.profession_name}}</option>
                {% endfor %}
            </select>
            </li>
            <li type="none">Соискатель:
                <input name="search3" class="SearchBox" placeholder=" данные о соискателе" type="search">
            </li>
            <button type="submit" class="findButton">Найти</button>
        </form>
    </ul>
</div>
<div class="DealsList">
    {% if comission_agg %}
    <h3 class="ComissionInfo"> Общий доход бюро: {{comission_agg.comission__sum}} ₽.
        Средний доход бюро от одной сделки: {{comission_agg.comission__avg}} ₽.</h3>
    {% else %}
    <h3 class="ComissionInfo"> Общий доход бюро: 0 ₽.
        Средний доход бюро от одной сделки: 0 ₽.</h3>
    {% endif %}
    {% if queryset %}
    <ul>
        {% for deal in queryset %}
            <li type = "none" class="OneDeal"><p>{{deal}}</p></li>
        {% endfor %}
    </ul>
    {% else %}
    <p style="text-align:center;">По запросу ничего не найдено</p>
    {% endif %}
</div>
{% endblock %}
