{% extends 'main/login_emp.html'%}
{% load static %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_register/style.css' %} "> {% endblock %}
{% block title %}Регистрация соискателя {% endblock %}
{% block pages %}
<li><a style="opacity: 1; text-decoration: underline;" href="/register_apl" >Соискателям</a> </li>
<li><a href="/register_emp">Работодателям</a></li>
{% endblock %}
{% block reg_or_auth %}
 <div class="navbar-wrap">
     <ul class="navbar-menu">
         <li><a href="/register_apl">Регистрация</a></li>
         <li><a style="opacity: 1; text-decoration: underline;"href="/login_apl">Авторизация</a></li>
     </ul>
 </div>
{% endblock %}