{% extends 'main/base.html'%}
{% load static %}
{% block title %}Главная{% endblock %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_mp/style.css' %} "> {% endblock %}
{% block content %}
    <h4 class="idkText">Я пока не придумал чё тут написать</h4>
    <img class="imgBox" src="{% static 'assets_mp/kitten.jpg' %}">
{% endblock %}
{% block pages %}
{% if request.user.is_authenticated %}
{% if current_user.type_of_user == 'MDR' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="/employers">Работодатели</a></li>
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="/deals">Сделки</a></li>
{% elif current_user.type_of_user == 'APL' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="/applicant/summaries" >Ваши резюме</a> </li>
<li><a href="/#" >Отклики работодателей</a> </li>
<li><a href="/applicant/{{current_user.id}}" >Профиль</a> </li>
{% elif current_user.type_of_user == 'EMP' %}
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="/employer/vacancies" >Ваши вакансии</a> </li>
<li><a href="#" >Отклики соискателей</a> </li>
<li><a href="/employer/{{current_user.id}}" >Профиль</a> </li>
{% endif %}
{% else %}
<li><a href="/register_apl" >Соискателям</a> </li>
<li><a href="/register_emp">Работодателям</a></li>
{% endif %}
{% endblock %}