{% extends 'main/base.html'%}
{% load static %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_register/style.css' %} "> {% endblock %}
{% block title %}Регистрация соискателя {% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <ul>
        {% for f in reguserform %}
        <li type="none"> {{ f.label }}: {{ f }} </li>
        {% endfor %}
        {% for f in form %}
        <li type="none"> {{ f.label }}: {{ f }} </li>
        {% endfor %}
        <li type="none"> <button type="submit">Завершить регистрацию</button> </li>
    </ul>

</form>
{% endblock %}