{% extends 'main/base.html'%}
{% load static %}
{% block tp %} <link rel="stylesheet" href=" {% static 'assets_register/style.css' %} "> {% endblock %}
{% block title %}Регистрация соискателя {% endblock %}
{% block pages %}
{% if request.user.is_authenticated %}
{% if current_user.type_of_user == 'MDR' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="/employers">Работодатели</a></li>
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="/deals">Сделки</a></li>
{% elif current_user.type_of_user == 'APL' %}
<li><a href="/vacancies" >Вакансии</a> </li>
<li><a href="#" >Ваши резюме</a> </li>
<li><a href="#" >Отклики работодателей</a> </li>
<li><a href="#" >Профиль</a> </li>
{% elif current_user.type_of_user == 'EMP' %}
<li><a href="/applicants">Соискатели</a> </li>
<li><a href="#" >Ваши вакансии</a> </li>
<li><a href="#" >Отклики соискателей</a> </li>
<li><a href="#" >Профиль</a> </li>
{% endif %}
{% else %}
<li><a href="/register_apl" >Соискателям</a> </li>
<li><a style="opacity: 1; text-decoration: underline;" href="/register_emp">Работодателям</a></li>
{% endif %}
{% endblock %}
{% block reg_or_auth %}
<div class="navbar-wrap">
     <ul class="navbar-menu">
         <li><a style="opacity: 1; text-decoration: underline;" href="/register_emp">Регистрация</a></li>
         <li><a href="/login_emp">Авторизация</a></li>
     </ul>
 </div>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <ul>
        {% for f in reguserform %}
        <li type="none"> {{ f.label }}: {{ f }} </li>
        {% endfor %}
        {% for f in form %}
        <li type="none"> {{ f.label }}: {{ f }} </li>
        {% endfor %}
        <li type="none"> <button type="submit">Далее</button> </li>
    </ul>

</form>
{% endblock %}